* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: white;
}

body {
    background-color: rgb(59, 127, 187);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.header {
    text-align: center;
}

.header h1 {
    margin-bottom: 0px;
}
.header p {
    margin-top: 0px;
}

.game-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
}

.game-options {
    display: flex;
    gap: 60px;
    margin-bottom: 20px;
}

.footer {
    background-color: rgb(36, 54, 70);
    text-align: center;
    padding: 20px;
}

.footer a {
    background-color: rgb(36, 54, 70);
    font-weight: 900;
    text-decoration: none;
}

button {
    border-color: white;
    background-color: black;
    border-radius: 4px;
    font-size: 16px;
    width: 80px;
    height: 30px;
}

.game-board {
    display: flex;
    justify-content: center;
    width: 602px;
    height: 602px;
    border: 1px;
    border-style: solid;
    border-color: white;
}

.board {
    display: flex;

}

.square {
    border: 1px;
    border-style: solid;
    border-color: white;
}